{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
{{ 'cart-custom.css' | asset_url | stylesheet_tag }}
<style>
  .drawer {
    visibility: hidden;
  }

  .drawer__inner {
    background-color: #ffffff !important;
  }

  .remove-btn-new {
    cursor: pointer;
  }

  .drawer__inner-empty {
    width: 627px !important;
  }

  .drawer__inner {
    width: 627px !important;
  }

  @media screen and (max-width: 628px) {
    #CartDrawer {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 628px) {
    .drawer__inner-empty, 
    .drawer__inner {
      width: 100% !important;
    }

    .drawer__inner,
    .drawer__inner-empty  {
      overflow-y: hidden !important;
      overflow-x: scroll !important;
    }
  }

  .custom-shop-button {
    border: 1px solid #000;
    background-color: #fff !important;
    color: #000 !important;
  }

  .custom-shop-button::before {
    display: none;
  }

  .custom-shop-button::after {
    content: url("https://cdn.shopify.com/s/files/1/0945/2375/2778/files/arrow_4a59ecf6-9621-4c99-a045-e0e37201ea81.svg?v=1763712839") !important;
    box-shadow: none !important;
  }

  .custom-shop-button + button {
    border: 1px solid #000;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <h2 class="drawer__heading">{{ 'sections.cart.title' | t }}</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
        <div class="offer-text-cart">
          <p class="text">
            {{ section.settings.free_shipping_text }}
          </p>
        </div>
        {% if section.settings.enable_gift %}
          <div class="free-shipping-text">
            {% if section.settings.gift_by == 'amount' %}
              {% assign cart_total = cart.total_price | divided_by: 100 %}
              {% if cart_total < section.settings.amount %}
                <p>Just add more item to unlock your 1 FREE GIFT </p>
              {% else %}
                <p>You have unlocked 1 Free Gift.</p>
              {% endif %}
            {% else %}
              {% if cart.item_count < section.settings.item_count %}
                <p>Just add more item to unlock your 1 FREE GIFT </p>
              {% else %}
                <p>You have unlocked 1 Free Gift.</p>
              {% endif %}    
            {% endif %}
          </div>
        {% endif %}
      </div>
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <div class="cart-items">
                  {%- for item in cart.items -%}
                      <div 
                        id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                        class="cart-item-new"
                      >
                        <div class="image-wrapper">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="" tabindex="-1" aria-hidden="true" style="display: flex;"> 
                              <img
                                class="cart-item__image"
                                src="{{ item.image | image_url: width: 300 }}"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                            </a>
                          {% endif %}
                        </div>
                        <div class="item-details">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}

                          <a href="{{ item.url }}" class="cart-item__name h4 break">
                            {{- item.product.title | escape -}}
                          </a>

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl class="item-options">
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <dt>{{ option.name }}:</dt>
                                    <dd>
                                      {{ option.value -}}
                                      {%- unless forloop.last %}, {% endunless %}
                                    </dd>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}

                            {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}

                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.line_level_discount_allocations -%}
                              <li class="discounts__discount">
                                {{- 'icon-discount.svg' | inline_asset_content -}}
                                {{ discount.discount_application.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                        <div class="item-actions">
                              {%- render 'loading-spinner' -%}
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                  {% if item.instructions and item.instructions.can_remove == false %}
                                    class="hidden"
                                  {% endif %}
                                >
                                  <span class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                      <g clip-path="url(#clip0_273_14)">
                                        <path d="M18.5625 4.3125H15.4688V3.23438C15.4688 2.56719 15.2152 1.92733 14.764 1.45556C14.3127 0.983788 13.7007 0.71875 13.0625 0.71875H8.9375C8.29932 0.71875 7.68728 0.983788 7.23602 1.45556C6.78477 1.92733 6.53125 2.56719 6.53125 3.23438V4.3125H3.4375C3.164 4.3125 2.90169 4.42609 2.7083 4.62828C2.5149 4.83046 2.40625 5.10469 2.40625 5.39062C2.40625 5.67656 2.5149 5.95079 2.7083 6.15297C2.90169 6.35516 3.164 6.46875 3.4375 6.46875H3.78125V18.6875C3.78125 19.1641 3.96233 19.6211 4.28466 19.9581C4.60699 20.2951 5.04416 20.4844 5.5 20.4844H16.5C16.9558 20.4844 17.393 20.2951 17.7153 19.9581C18.0377 19.6211 18.2188 19.1641 18.2188 18.6875V6.46875H18.5625C18.836 6.46875 19.0983 6.35516 19.2917 6.15297C19.4851 5.95079 19.5938 5.67656 19.5938 5.39062C19.5938 5.10469 19.4851 4.83046 19.2917 4.62828C19.0983 4.42609 18.836 4.3125 18.5625 4.3125ZM8.59375 3.23438C8.59375 3.13906 8.62997 3.04765 8.69443 2.98026C8.7589 2.91286 8.84633 2.875 8.9375 2.875H13.0625C13.1537 2.875 13.2411 2.91286 13.3056 2.98026C13.37 3.04765 13.4062 3.13906 13.4062 3.23438V4.3125H8.59375V3.23438ZM16.1562 18.3281H5.84375V6.46875H16.1562V18.3281ZM9.96875 9.34375V15.0938C9.96875 15.3797 9.8601 15.6539 9.6667 15.8561C9.47331 16.0583 9.211 16.1719 8.9375 16.1719C8.664 16.1719 8.40169 16.0583 8.2083 15.8561C8.0149 15.6539 7.90625 15.3797 7.90625 15.0938V9.34375C7.90625 9.05781 8.0149 8.78359 8.2083 8.5814C8.40169 8.37921 8.664 8.26562 8.9375 8.26562C9.211 8.26562 9.47331 8.37921 9.6667 8.5814C9.8601 8.78359 9.96875 9.05781 9.96875 9.34375ZM14.0938 9.34375V15.0938C14.0938 15.3797 13.9851 15.6539 13.7917 15.8561C13.5983 16.0583 13.336 16.1719 13.0625 16.1719C12.789 16.1719 12.5267 16.0583 12.3333 15.8561C12.1399 15.6539 12.0312 15.3797 12.0312 15.0938V9.34375C12.0312 9.05781 12.1399 8.78359 12.3333 8.5814C12.5267 8.37921 12.789 8.26562 13.0625 8.26562C13.336 8.26562 13.5983 8.37921 13.7917 8.5814C13.9851 8.78359 14.0938 9.05781 14.0938 9.34375Z" fill="currentColor"/>
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_273_14">
                                          <rect width="22" height="23" fill="white"/>
                                        </clipPath>
                                      </defs>
                                    </svg>
                                  </span>
                                </button>
                              </cart-remove-button>
                              <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button
                                    class="quantity__button"
                                    name="minus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}} 
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                  <button
                                    class="quantity__button"
                                    name="plus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                            </div>
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                        </div>
                      </div>
                      {%- comment -%}
                      <tr
                        id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                        class="cart-item{% if item.parent_relationship.parent != null %} cart-item__nested-line{% endif %}"
                        role="row"
                        {% if item.parent_relationship.parent != null %}
                          aria-label="{{- 'products.product.nested_label' | t: title: item.product.title, parent_title: item.parent_relationship.parent.title | escape -}}"
                        {% endif %}
                      >
                        <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                          {%- render 'loading-spinner' -%}
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <span class="price price--end">
                                  {{ item.final_line_price | money }}
                                </span>
                              </div>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              {% render 'unit-price', price: item.unit_price, measurement: item.unit_price_measurement %}
                            {%- endif -%}
                          </div>
                          <button onclick="" class="remove-btn-new">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                              <g clip-path="url(#clip0_273_16)">
                                <path d="M18.5625 4.3125H15.4688V3.23438C15.4688 2.56719 15.2152 1.92733 14.764 1.45556C14.3127 0.983788 13.7007 0.71875 13.0625 0.71875H8.9375C8.29932 0.71875 7.68728 0.983788 7.23602 1.45556C6.78477 1.92733 6.53125 2.56719 6.53125 3.23438V4.3125H3.4375C3.164 4.3125 2.90169 4.42609 2.7083 4.62828C2.5149 4.83046 2.40625 5.10469 2.40625 5.39062C2.40625 5.67656 2.5149 5.95079 2.7083 6.15297C2.90169 6.35516 3.164 6.46875 3.4375 6.46875H3.78125V18.6875C3.78125 19.1641 3.96233 19.6211 4.28466 19.9581C4.60699 20.2951 5.04416 20.4844 5.5 20.4844H16.5C16.9558 20.4844 17.393 20.2951 17.7153 19.9581C18.0377 19.6211 18.2188 19.1641 18.2188 18.6875V6.46875H18.5625C18.836 6.46875 19.0983 6.35516 19.2917 6.15297C19.4851 5.95079 19.5938 5.67656 19.5938 5.39062C19.5938 5.10469 19.4851 4.83046 19.2917 4.62828C19.0983 4.42609 18.836 4.3125 18.5625 4.3125ZM8.59375 3.23438C8.59375 3.13906 8.62997 3.04765 8.69443 2.98026C8.7589 2.91286 8.84633 2.875 8.9375 2.875H13.0625C13.1537 2.875 13.2411 2.91286 13.3056 2.98026C13.37 3.04765 13.4062 3.13906 13.4062 3.23438V4.3125H8.59375V3.23438ZM16.1562 18.3281H5.84375V6.46875H16.1562V18.3281ZM9.96875 9.34375V15.0938C9.96875 15.3797 9.8601 15.6539 9.6667 15.8561C9.47331 16.0583 9.211 16.1719 8.9375 16.1719C8.664 16.1719 8.40169 16.0583 8.2083 15.8561C8.0149 15.6539 7.90625 15.3797 7.90625 15.0938V9.34375C7.90625 9.05781 8.0149 8.78359 8.2083 8.5814C8.40169 8.37921 8.664 8.26562 8.9375 8.26562C9.211 8.26562 9.47331 8.37921 9.6667 8.5814C9.8601 8.78359 9.96875 9.05781 9.96875 9.34375ZM14.0938 9.34375V15.0938C14.0938 15.3797 13.9851 15.6539 13.7917 15.8561C13.5983 16.0583 13.336 16.1719 13.0625 16.1719C12.789 16.1719 12.5267 16.0583 12.3333 15.8561C12.1399 15.6539 12.0312 15.3797 12.0312 15.0938V9.34375C12.0312 9.05781 12.1399 8.78359 12.3333 8.5814C12.5267 8.37921 12.789 8.26562 13.0625 8.26562C13.336 8.26562 13.5983 8.37921 13.7917 8.5814C13.9851 8.78359 14.0938 9.05781 14.0938 9.34375Z" fill="currentColor"/>
                              </g>
                              <defs>
                                <clipPath id="clip0_273_16">
                                  <rect width="22" height="23" fill="white"/>
                                </clipPath>
                              </defs>
                            </svg>
                          </button>
                        </td>
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif
                        -%}
                        <td
                          class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                          role="cell"
                          headers="CartDrawer-ColumnQuantity"
                        >
                          <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button
                                    class="quantity__button"
                                    name="minus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                  <button
                                    class="quantity__button"
                                    name="plus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                  {% if item.instructions and item.instructions.can_remove == false %}
                                    class="hidden"
                                  {% endif %}
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-remove.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                              </cart-remove-button>
                            </div>
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                        </td>
                      </tr>
                      {%- endcomment -%}
                    {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>
      <div class="drawer__footer">
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          {% render 'cart-discount', section_id: section.id %}
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    {{ discount.title | escape }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="totals" role="status">
            <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
            <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
          </div>

          <small class="tax-note caption-large rte">
            {%- if cart.duties_included and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- endif -%}
          </small>
        </div>

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <button class="custom-shop-button button">
            Shop More
          </button>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
          <style>
            .payment-icons svg{
              width: 14%;
              height: auto;
            }
            @media screen and (max-width: 650px) {
              .payment-icons svg{
                width: 13%;
              }
            }
            #Calque_1 {
              width: 26%;
            }
          </style>
          <div class="payemnt-method">
            <div class="payment-icons">
              {{ 'visa'         | payment_type_svg_tag }}
              {{ 'master'   | payment_type_svg_tag }}
              {{ 'paypal'       | payment_type_svg_tag }}
              {{ 'apple_pay'    | payment_type_svg_tag }}
              {{ 'google_pay'   | payment_type_svg_tag }}
              {{ 'logo-twint.svg' | inline_asset_content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>